<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>an·no·ta·tion</title>
</head>
<body style="background-color:grey">
    <div>
    <div class="container-sm">
        <br><br><br>
        <div class="mb-3">
            <h1>edited</h1>
            <h1>edited</h1>        
        </div>                
    </div>
    </div>
    <script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
    </script>
</body>
</html>